<div class="searchClientPanel">
    <div class="title">Panel de Búsquedas</div>
    <div class="searchBox">
        <span>Buscar&nbsp;&nbsp;&nbsp;&nbsp;:</span>
        <input type="text"/><span class="searchButton"><img src="resources/icons/searchBtn.png"/></span>
    </div>
    <div class="clientTypeCheckBoxs">
        Incluir en Busqueda :
        <label>
            <input type="radio" name="tipoCliente" checked/>Ambos</label>|
        <label>
            <input type="radio" name="tipoCliente" />Solo Minorista</label>|
        <label>
            <input type="radio" name="tipoCliente" />Solo Mayorista</label>
    </div>
    <div class="letterPaging">
        <span>A</span><span>B</span>
        <span>C</span><span>D</span>
        <span>E</span><span>F</span>
        <span>G</span><span>H</span>
        <span>I</span><span>J</span>
        <span>K</span><span>L</span>
        <span>M</span><span>N</span>
        <span>Ñ</span><span>O</span>
        <span>P</span><span>Q</span>
        <span>R</span><span>S</span>
        <span>T</span><span>U</span>
        <span>V</span><span>W</span>
        <span>X</span><span>Y</span>
        <span>Z</span>
    </div>
</div>
<div class="clientListSection">
    <div class="labelTitle">Resultados de Busqueda</div>
    <div class="content" style="height: 220px;">
        <ul>
            <li>
                <div class="fotoPane">
                    <img src="resources" width="50"/>
                </div>
                <div class="descriptionPane">
                    <div><label>Nombre / Titulo : </label><span>Aqui ira el nombre del cliente o empresa</span></div>
                    <div class="lastItem">
                        <label>Tipo de Cliente : </label><span>Mayorista</span>
                    </div>
                </div>
                <div class="optionsPane" style="text-align: center;">
                    <span class="buttons greenButton" style="margin-top: 5px;">
                        <a><i class="contactIcon"></i>Ver Perfil</a>
                    </span>
                </div>
            </li>
            <li class="division"></li>
            <li>
                <div class="fotoPane">
                    <img src="resources" width="50"/>
                </div>
                <div class="descriptionPane">
                    <div><label>Nombre / Titulo : </label><span>Aqui ira el nombre del cliente o empresa</span></div>
                    <div class="lastItem">
                        <label>Tipo de Cliente : </label><span>Mayorista</span>
                    </div>
                </div>
                <div class="optionsPane" style="text-align: center;">
                    <span class="buttons greenButton" style="margin-top: 5px;">
                        <a><i class="contactIcon"></i>Ver Perfil</a>
                    </span>
                </div>
            </li>
            <li class="division"></li>
            <li>
                <div class="fotoPane">
                    <img src="resources" width="50"/>
                </div>
                <div class="descriptionPane">
                    <div><label>Nombre / Titulo : </label><span>Aqui ira el nombre del cliente o empresa</span></div>
                    <div class="lastItem">
                        <label>Tipo de Cliente : </label><span>Mayorista</span>
                    </div>
                </div>
                <div class="optionsPane" style="text-align: center;">
                    <span class="buttons greenButton" style="margin-top: 5px;">
                        <a><i class="contactIcon"></i>Ver Perfil</a>
                    </span>
                </div>
            </li>
            <li class="division"></li>
            <li>
                <div class="fotoPane">
                    <img src="resources" width="50"/>
                </div>
                <div class="descriptionPane">
                    <div><label>Nombre / Titulo : </label><span>Aqui ira el nombre del cliente o empresa</span></div>
                    <div class="lastItem">
                        <label>Tipo de Cliente : </label><span>Mayorista</span>
                    </div>
                </div>
                <div class="optionsPane" style="text-align: center;">
                    <span class="buttons greenButton" style="margin-top: 5px;">
                        <a><i class="contactIcon"></i>Ver Perfil</a>
                    </span>
                </div>
            </li>
        </ul>
    </div>                
</div>
<div class="clientProfileViewPane">
    <div class="title">Perfil del Cliente - CL_0001</div>
    <div class="profileContent">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="width: 30%;">
                    Imagen del Cliente
                    <div class="clientPictureZone">
                        <img src="resources" width="220" height="220"/>
                    </div>
                </td>
                <td>
                    <div style="text-align: left;">
                        <div>
                            Nombre del Cliente / Empresa :
                            <div class="txtBoxs" style="height: 26px; width: 96%;">
                                &nbsp;
                            </div>
                        </div>
                        <div>
                            Dirección :
                            <div class="txtBoxs" style="height: 64px; width: 96%;">
                                &nbsp;
                                <a class="croquisLink"><i></i>Ver Croquis</a>
                            </div>
                        </div>
                        <div>
                            Dirección de lugar de envio del producto :
                            <div class="txtBoxs" style="height: 64px; width: 96%;">
                                &nbsp;
                                <a class="croquisLink"><i></i>Ver Croquis</a>
                            </div>
                        </div>
                        <div style="float: left;">
                            Tipo de Cliente :
                            <div class="txtBoxs" style="height: 26px; width: 160px;">
                                &nbsp;                                                    
                            </div>
                        </div>
                        <div style="float: left; margin-left: 16px;">
                            Estado de Cliente :
                            <div class="txtBoxs" style="height: 26px; width: 160px;">
                                &nbsp;                                                    
                            </div>
                        </div>
                        <div style="float: left; margin-left: 16px;">
                            Tel&eacute;fono Fijo :
                            <div class="txtBoxs" style="height: 26px; width: 114px;">
                                &nbsp;                                                    
                            </div>
                        </div>
                        <div style="float: left; margin-left: 16px;">
                            Tel&eacute;fono M&oacute;vil :
                            <div class="txtBoxs" style="height: 26px; width: 113px;">
                                &nbsp;                                                    
                            </div>
                        </div>
                        <div>
                            Condiciones de Pago :
                            <div class="txtBoxs" style="padding: 6px 2px; width: 35%; text-align: right;">
                                &nbsp;<span style="font-style:italic; color: #999999;"> Con la Orden de Trabajo</span>
                            </div>
                        </div>
                        <div>
                            <div class="txtBoxs" style="padding: 6px 2px; width: 35%; text-align: right;">
                                &nbsp;<span style="font-style:italic; color: #999999;"> Con la Entrega de Producto</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>                               
        </table>
    </div>
</div>
