<div class="clientFancyProfilePreview">
	<div class="title">Detalles del Cliente - "{{ cliente.usuario.username }}"</div>
	<div class="content">
		<div class="leftPane">
			<div class="imageSpace">
				<img src="{{ cliente.imagen.url }}" width="150" height="150" />
			</div>
			<div class="clientMoreDetails">
			<div class="titleMoreDetails">Mas informaci&oacute;n de Cliente:</div>
				<ul style="list-style: disc outside none; margin-left: 20px; margin-top: 4px;">
					<li>Estado del Cliente :		
						{% if cliente.eliminada %}
							<span style="color: #ffe400;">Inactivo</span>
						{% else %}
							<span style="color: #55e01e;">Activo</span>
						{% endif %}
					</li>
					<li>Tipo de cliente : <span style="color: #ccc;">{{ cliente.tipoDeCliente }}</span></li>
					<li>Antiguedad: <span style="color: #ccc;">{{ cliente.antiguedad }}</span></li>
				</ul>
			</div>
		</div>
		<div class="rightPane">
			<div class="formFields">
			Nombre completo:
				<div>
					<span id="nombresDeCliente"></span>
				</div>
			</div>
			<div class="formFields">
			Direccion:
				<div>
					<span>{{ cliente.direccion }}</span>
				</div>
			</div>
			<div class="formFields">
			Contactos:
				<div>
					<span><span class="subDescr">Tel.:</span> {{ cliente.telefonoFijo }}, <span class="subDescr">M&oacute;vil:</span>  {{ cliente.telefonoMovil}}</span>
				</div>
				<div>
					<span><span class="subDescr">E-mail:</span> {{ cliente.correoElectronico }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var nombreCompleto = '{{ cliente.primerNombre }} {{ cliente.segundoNombre }} {{ cliente.primerApellido }} {{ cliente.segundoApellido }}'
	nombreCompleto = nombreCompleto.replace(/N\/A/ig, "");
	nombreCompleto = nombreCompleto.replace("  ", " ");
	$('#nombresDeCliente').html(nombreCompleto);
</script>