{% extends "base.html" %}

{% block cssLinks %}
{% endblock %}

{% block navMenu %}
	{% if usuario.is_authenticated %}
		{% if usuario.is_staff %}
			<li><a href="/admin/">Admon.</a></li>
			<li><a href="/clientes/">Clientes</a></li>
		{% endif %}
		<li><a href="/cotizaciones/">Cotizaciones</a></li>	
		{% if usuario.is_staff %}
			<li><a href="/empleados/">Empleados</a></li>
		{% endif %}		
		<li><a href="/pedidos/">Pedidos</a></li>
		
		{% if usuario.is_staff %}
			<li><a href="/produccion/">Produccion</a></li>
		{% endif %}						
	{% endif %}
{% endblock %}

{% block contenido %}
	<div class="headerSubsites">
		<div class="subsiteIcon">
			<img src="{{ STATIC_URL }}icons/catalogIcon.png"/>
		</div>
		<div class="subsiteDescrOptions">
			<div class="title">CAT&Aacute;LOGO</div>
			<div id="submenuCatalogo" class="subSiteMenu">
				<span id="submenuCatalogo_1" class="selectedSubmenu" onclick="selectSubmenu(this.id)">Infantil</span>
				<span id="submenuCatalogo_2" onclick="selectSubmenu(this.id)">Juvenil</span>
				<span id="submenuCatalogo_3" onclick="selectSubmenu(this.id)">Adulto</span>
			</div>
		</div>
	</div>
	
	<div id="ContentPaneSubsites" class="contentPaneSubsites" style="padding: 0;">
	</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block jsLinks %}
	<script type="text/javascript">
		$(document).ready(function()
		{
			$("#submenuCatalogo_1").trigger("click");
		});
	</script>
{% endblock %}
